@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* General Reset and Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #f0f0f0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#datetime {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ccc;
}

main {
    margin-top: 20px;
}

button {
    background-color: #1f1f1f;
    color: #f0f0f0;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}

#current-workout {
    display: none;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#current-workout h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #f0f0f0;
}

#exercise-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#exercise-description {
    margin-bottom: 20px;
    color: #ccc;
}

#timer {
    font-size: 2.5rem;
    margin: 20px 0;
    color: #f0f0f0;
}

#workout-summary {
    display: none;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#workout-summary h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #f0f0f0;
}

#summary-list {
    list-style: none;
    padding: 0;
    text-align: left;
}

#summary-list li {
    margin-bottom: 10px;
    color: #ccc;
}

#summary-list li:last-child {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    #datetime {
        font-size: 1rem;
    }

    button {
        padding: 10px 20px;
    }

    #current-workout {
        padding: 15px;
    }

    #exercise-image {
        margin: 15px 0;
    }

    #timer {
        font-size: 2rem;
        margin: 15px 0;
    }

    #workout-summary {
        padding: 15px;
    }
}
